git+ssh://git@gitlab.ics.muni.cz/rationai/digital-pathology/pipeline/slidelip.git
git+ssh://git@gitlab.ics.muni.cz/rationai/digital-pathology/pipeline/report.git
numpy
polars
pandas
scikit-learn
scipy
pyvips
torch
torchvision
torchmetrics
Pillow
tqdm
pytest
nptyping
albumentations
lightning
omegaconf
hydra-core
mlflow
captum
gitpython
humanize
scikit-image
